<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->


<script>
  var currentUser = <%- JSON.stringify(currentUser) %>;
</script>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/javascripts/lib/snackbar.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/lib/material.min.js"></script>
<script src="https://use.fontawesome.com/3f9fa93972.js"></script>
<script src="/javascripts/lib/underscore-min.js"></script>
<script src="/javascripts/navbar-hideable.js"></script>
<script src="/javascripts/geotools.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/private-chat.js"></script>
<script src="/javascripts/chat-client.js"></script>
<script src="/javascripts/appearances.js"></script>
<script src="/javascripts/login.js"></script>
<script src="/javascripts/thread-list.js"></script>
<script src="/javascripts/notifications.js"></script>
</body>
</html>
