<div class="navbar navbar-primary navbar navbar-primary navbar-fixed-top navbar-hideable">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Geo Chat</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class=""><i class="fa fa-ellipsis-v"></i></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
