<%- include _head.ejs %>
<%- include _navbar.ejs %>
<div id="chat-page"></div>

<div class="app-content with-bottom-bar">

  <div class="nav-top-tabs sticky-tabs tab-sticky-with-nav elevation-2">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#"><i class="fa fa-globe"></i> Publico</a></li>
        <li role="presentation"><a href="/appearances"><i class="fa fa-users"></i> Pessoas</a></li>
        <li role="presentation">
          <a href="/private_chat">
            <i class='fa fa-envelope'></i> Mensagens <span id='unread-notifications' class='hidden badge badge-warning'></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="chat-container">
      <input type="hidden" id="nick" value="<%= nick %>" />
      <input type="hidden" id="facebookId" value="<%= facebookId %>" />
      <div id="chat-area" class="form-control" >
        <h1 class="text-muted text-center">
          <i class="fa fa-globe fa-3x"></i>
        </h1>
        <p class="small text-muted">Escreva uma mensagem. Qualquer pessoa com o aplicativo que esteja perto de você pode ler o que você escrever.</p>
      </div>
    </div>
  </div>

<div class="navbar-fixed-bottom chat-bottom-bar">
  <div class="container">
    <div class="form-group">
      <div class="input-group">
        <input type="text" id="msg-input" class="form-control input-solo" placeholder="Digite uma mensagem">
        <span class="input-group-btn">
          <button type="button" class="btn btn-fab btn-fab-mini btn-success" id="send-button">
            <i class="fa fa-send"></i>
            <div class="ripple-container"></div>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
</div>
<%- include _foot.ejs %>
