<%- include _head.ejs %>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Geo Chat</h3>
            <ul class="nav masthead-nav">
            </ul>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Conheça e converse com pessoas ao seu redor de forma fácil</h1>
          <p id="error-label" class="lead error" > <%= errorMsg %></p>
          <p class="text-muted">É necessario ativar o GPS do seu dispositivo e compartilhar sua localização.</p>

          <form id="login-form" class="form-signin" role="form" method="GET" action="/chat">
            <!-- <input id="nick" type="text" name='nick' class="form-control " placeholder="Maria Madalena" required autofocus  maxlength="20" size="20"/> -->
            <a id="login-button" class="btn btn-raised btn-lg btn-warning disabled" href="/auth/facebook">Obtendo Localização...</a>
          </form>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>GeoChat - Gerencia de Projetos 2017 - Unifei</p>
          </div>
        </div>

      </div>

    </div>

  </div>

<%- include _foot.ejs %>
