<%- include _head.ejs %>
<%- include _navbar.ejs %>

<div class="app-content">
  <div class="nav-top-tabs sticky-tabs tab-sticky-with-nav elevation-2">
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/chat"><i class="fa fa-globe"></i> Publico</a></li>
        <li role="presentation" class="active"><a href="#"><i class="fa fa-users"></i> Pessoas</a></li>
        <li role="presentation">
          <a href="/private_chat">
            <i class='fa fa-envelope'></i> Mensagens <span id='unread-notifications' class='hidden badge badge-warning'></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="nearbies" class="panel-body">

    </div>
  </div>

</div>
<%- include _foot.ejs %>
