<%- include _head.ejs %>
<div id="private-chat"></div>

<div class="navbar navbar-full navbar-primary navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" onclick="javascript:window.history.back()" >
        <span class="fa fa-arrow-left fa-lg"></span>
          <img class='img-circle' src='https://graph.facebook.com/v2.9/<%= chatUser.facebook_id %>/picture?height=30&width=30' alt='Foto de perfil'>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><%= chatUser.profile.displayName %></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    </div>
  </div>
</div>

<div class="app-content with-bottom-bar">
  <div class="container">
    <div id="private-chat-area">
    </div>
  </div>

  <div class="navbar-fixed-bottom chat-bottom-bar">
    <div class="container">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="private-msg-input" class="form-control input-solo" placeholder="Digite uma mensagem">
          <span class="input-group-btn">
            <button type="button" class="btn btn-fab btn-fab-mini btn-success" id="private-send-button">
              <i class="fa fa-send"></i>
              <div class="ripple-container"></div>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var chatUser = <%- JSON.stringify(chatUser) %>;
</script>

<%- include _foot.ejs %>
