/*
 * Globals
 */
 /*
  * Base structure
  */

 html,
 body {
   height: 100%;
 }


 /* Extra markup and styles for table-esque vertical and horizontal centering */
 .site-wrapper {
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);

   background-color: #333;
   display: table;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
   -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
           box-shadow: inset 0 0 100px rgba(0,0,0,.5);
 }
 .site-wrapper-inner {
   display: table-cell;
   vertical-align: top;
 }
 .cover-container {
   margin-right: auto;
   margin-left: auto;
 }

 /* Padding for spacing */
 .inner {
   padding: 30px;
 }


 /*
  * Header
  */
 .masthead-brand {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .masthead-nav > li {
   display: inline-block;
 }
 .masthead-nav > li + li {
   margin-left: 20px;
 }
 .masthead-nav > li > a {
   padding-right: 0;
   padding-left: 0;
   font-size: 16px;
   font-weight: bold;
   color: #fff; /* IE8 proofing */
   color: rgba(255,255,255,.75);
   border-bottom: 2px solid transparent;
 }
 .masthead-nav > li > a:hover,
 .masthead-nav > li > a:focus {
   background-color: transparent;
   border-bottom-color: #a9a9a9;
   border-bottom-color: rgba(255,255,255,.25);
 }
 .masthead-nav > .active > a,
 .masthead-nav > .active > a:hover,
 .masthead-nav > .active > a:focus {
   color: #fff;
   border-bottom-color: #fff;
 }

 @media (min-width: 768px) {
   .masthead-brand {
     float: left;
   }
   .masthead-nav {
     float: right;
   }
 }


 /*
  * Cover
  */

 .cover {
   padding: 0 20px;
 }
 .cover .btn-lg {
   padding: 10px 20px;
   font-weight: bold;
 }


 /*
  * Footer
  */

 .mastfoot {
   color: #999; /* IE8 proofing */
   color: rgba(255,255,255,.5);
 }


 /*
  * Affix and center
  */

 @media (min-width: 768px) {
   /* Pull out the header and footer */
   .masthead {
     position: fixed;
     top: 0;
   }
   .mastfoot {
     position: fixed;
     bottom: 0;
   }
   /* Start the vertical centering */
   .site-wrapper-inner {
     vertical-align: middle;
   }
   /* Handle the widths */
   .masthead,
   .mastfoot,
   .cover-container {
     width: 100%; /* Must be percentage or pixels for horizontal alignment */
   }
 }

 @media (min-width: 992px) {
   .masthead,
   .mastfoot,
   .cover-container {
     width: 700px;
   }
 }



/*** GEO CHAT **/


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin button {
	margin-top: 24px;
}


#chat-container {
	/*opacity: 0.7;
	background-color: gray;
	padding: 7px;
	height: 500px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
}

#chat-area {
	height: 90%;
	resize: none;
	text-align: left;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}



@media (max-width: 992px) {


	#chat-container {
		/*position: relative;
		height: 100%;
		min-height: 100%;*/
	}

	/* Removes the scrollbar */
	#chat-area {
		height: auto;
		overflow-y: none;
	}

}


#nearbies {
  color: #555;
}


/**
 * Really really small devices, like the ones sold in Brazil
 *
@media (max-height: 300px) {
	#chat-area {
		height: 76%;

	}
}
*/
.send-row {
	margin-top: 7px;
}


.nickname {
	font-weight: bold;
}


.btn-raised.btn-facebook {
  color: white;
  background: #3b5998;
}
.btn.btn-raised:not(.btn-link).btn-facebook:hover {
  background: #2e4476;
}
.white {
  background: white;
}

.chat-bottom-bar {
  background: #eee;
}
.chat-bottom-bar .form-group {
  margin-top: 10px;
}

.bg-primary {
  background: #009688;
}



/*Nav bar */
.navbar-hideable {
  height: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.nav-up {
  top: -50px; /* same as header height. */
}

.nav-top-tabs {
  background: #009688;
  width: 100%;
  z-index: 500;
}
.nav-top-tabs .nav-tabs {
  border-bottom: 0px;
}

.nav-tabs > .active {
  border-bottom: 3px #eee solid;
}


@media (min-width: 768px)
{
    .navbar-full .navbar-header
    {
        float: none;
    }

    .navbar-full .navbar-toggle
    {
        display: block;
        padding: 0px 15px;
    }

    .navbar-full .navbar-collapse.collapse
    {
        display: none !important;
    }
}


.sticky-tabs {
  transition: top 0.2s ease-in-out;
}
.tab-sticky-with-nav {
  position: sticky;
  top: 50px;
}
.tab-sticky-top {
  position: sticky;
  top: 0px;
}

.chat-message {
  background: inherit;
}
.chat-message-content {
  background: white;
  padding: 6px;
  display: inline-block;
  border-radius: 11px;
  border: 0px;
}

.app-content {
  padding-top: 50px; /*same as navbar fixed*/
  background: url('/images/skulls.png');
  min-height: 100%;
}
.app-content.with-bottom-bar {
  padding-bottom: 62px;
}



.input-solo {
  background-color: white !important;
  border-radius: 4px !important;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}


/*  Elevations */
.elevation {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}


.badge-warning {
  background: #ff5722;
}

.elevation-1, .elevation-1-raisable {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.elevation-1-raisable {
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.elevation-1-raisable:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.elevation-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevation-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
